.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  width: 100%;
  max-width: 900px;
}

.nav {
  min-width: 150px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-entry {
  cursor: pointer;
  margin-bottom: 0.5em;
  color: #5a5a5a;
}

.nav-entry:hover, .nav-entry.active {
  color: black;
}

.title {
  margin: 0;
  line-height: 1.1em;
  margin-bottom: 15px;
}

.audio {
  margin-top: 30px;
  width: 100%;
}

.text {
  flex-grow: 1;
}